@model ProjectNew.Models.UserAccount
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        #container body-content {
            position: absolute;
            left: 40%;
            top: 40%;
            border: 1px solid #ccc;
            padding: 10px 10px;
            color: #FF0000;
        }
    </style>
</head>
<body>
    <div id="container body-content">
        @using (Html.BeginForm("SignIn", "Registration", FormMethod.Post))
        {
            <table>
                <tr>
                    <td></td>
                    <td style="text-decoration:underline"><font color="black"> Member SignIn</font> </td>
                </tr>
                <tr>
                    <td>
                        <font color="black">  @Html.LabelFor(model => model.Name) </font>
                    </td>
                    <td>
                        <font color="black">  @Html.EditorFor(model => model.Name) </font>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <font color="black">  @Html.ValidationMessageFor(model => model.Name) </font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font color="black"> @Html.LabelFor(model => model.Password) </font>
                    </td>
                    <td>
                        <font color="black">   @Html.EditorFor(model => model.Password) </font>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <font color="black">  @Html.ValidationMessageFor(model => model.Password) </font>
                    </td>
                <tr>
                    <td colspan="2">
                        <label class="field-validation-error"><font color="black">@Html.DisplayFor(model => model.LoginErrorMessage) </font></label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
                        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
                    </td>

                    <td>
                        <input type="submit" name="name" value="Login" onclick=""/>
                        <input type="reset" name="name" value="Clear" />
                    </td>
                </tr>
            </table>

        }

    </div>
</body>
</html>
